@page "/"
@page "/Workbench"
@using System.Text.RegularExpressions;
@using Modules.Core.Blazor.Pages.Base_user_favorite
@using Modules.Core.Shared.Base_sys_menu;
@attribute [Authorize]
@inherits BasePage
<PageTitle>我的工作台</PageTitle>

<Row Type="flex" Gutter="(16, 16)" Style="margin-bottom:24px;">
    <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6">
        <NavLink href="/MES/Aps_working_cmd/Aps_working_cmdHome/">
            <Card Hoverable="true" Style="height:100px;background-color: #339900;">
                <Icon Type="dot-chart" Style="font-size:38px;color:#eee;vertical-align: middle;" Theme="outline" />
                <a style="padding-left:5px;font-size:18px;color:#fff;">机床看板</a>
            </Card>
        </NavLink>
    </AntDesign.Col>
    <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6">
        <NavLink href="/MES/Working_msg/Working_msgHome/">
            <Card Hoverable="true" Style="height:100px;background-color: rgb(252, 134, 117);">
                <Icon Type="bell" Style="font-size:38px;color:#888;vertical-align: middle; " Theme="outline" />
                <a style="padding-left:5px;font-size:18px;color:#FFF;">信息反馈</a>
            </Card>
        </NavLink>
    </AntDesign.Col>
    <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6">
        <NavLink href="/MES/MBOM/MBOM_List/">
            <Card Hoverable="true" Style="height:100px; background-color: rgb(243, 206, 133);">
                <Icon Type="apartment" Style="font-size:38px;color:#888;vertical-align: middle;" Theme="outline" />
                <a style="padding-left:5px;font-size:18px;color:#000;">生产令</a>
            </Card>
        </NavLink>
    </AntDesign.Col>
    <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6">
        <NavLink href="/MRS/Wo_head/Wo_headViewData/">
            <Card Hoverable="true" Style="height:100px;background-color: #CCC;">
                <Icon Type="unordered-list" Style="font-size:38px;color:#888;vertical-align: middle;" Theme="outline" />
                <a style="padding-left:5px;font-size:18px;color:#000;">工单管理</a>
            </Card>
        </NavLink>
    </AntDesign.Col>
</Row>

<User_favorite_menuBox></User_favorite_menuBox>
<Collapse>
    <Panel Header="菜单列表" Key="1">
        <ChildContent>
            <AntList DataSource="@menus" TItem="Base_sys_menuVM">
                <ListItem>
                    <ListItemMeta>
                        <AvatarTemplate><Icon Style="font-size:28px" Type="@context.Icon" Theme="outline" /></AvatarTemplate>
                        <TitleTemplate>
                            <a href="@context.Url">@context.Name</a>
                        </TitleTemplate>
                    </ListItemMeta>
                    <div><Button Icon="@IconType.Outline.Star" OnClick="()=>AddFavorite(context)">收藏</Button></div>
                </ListItem>
            </AntList>
        </ChildContent>
        <ExtraTemplate>
            <div @onclick:stopPropagation="true"><Search Placeholder="搜索菜单" EnterButton="true" /></div>
        </ExtraTemplate>
    </Panel>
</Collapse>
<iframe src="https://10.17.24.160/ZxzjReport/ReportServer?op=fs_load&cmd=sso&fr_username=queryuser&fr_password=queryuser&fr_remember=true"
        id="mobsf"
        scrolling="no"
        frameborder="0"
        width="1"
        height="1"></iframe>
@code
{
    RenderFragment prefix1 =@<Icon Type="like" />;
}